.App {
  text-align: center;
}

.App-header {
  background-color: #303030;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.heading {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.puzzle-board {
  outline: 2px solid gray;
  outline-offset: 2px;
  margin: 2px;
}

.puzzle-row {
  display:flex;
}

.puzzle-square {
  display: flex;
  width: 3em;
  height: 3em;
  font-size: 1em;
  box-sizing: border-box;
  border: 1px solid #d0d0d0;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #f0f0f0;
}

.col-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 1.5em;
}
.row-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 1.5em;
}

#col-heading-holder {
  display:flex;
}

#heading-frame-corner {
  width: 1.5em;
  height: 1.5em;
}